*.exe
*.log
config.json
combos.txt
proxies.txt
results/
errors/
release/cookies/
release/results/
release/*.log
release/donut_*.txt
release/cookie_*.txt
release/valid_*.txt
release/invalid*.txt
release/nitro_*.txt
release/all_hits.txt
release/ms_*.txt
release/hypixel_*.txt
release/reward_*.txt
release/ban_check_*.txt
release/network_errors.log
release/value_check_errors.log
release/errors.log
release/sniper_errors.log
release/cookie_errors.log
*.swp
*.swo
